h1,
h2,
h3,
p {
  font-family: Helvetica;
}

h1 {
  background-image: url("/Users/gregjacobs/Desktop/Projects/Dasmoto's Arts & Crafts/resources/media/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: Khaki;
}

.item h2 {
  color: white;
  font-size: 32px;
}

#hack {
  background-color: MediumSpringGreen;
}

#aframe {
  background-color: LightCoral;
}

#cpaint {
  background-color: SkyBlue;
}

.price {
  color: Blue;
  font-weight: bold;
}
